  # .github/workflows/pages.yml
  name: Pages

  on:
    push:
      branches:
        - main # default branch

  jobs:
    pages:
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - uses: actions/checkout@v2
        - name: Use Node.js 18.x
          uses: actions/setup-node@v2
          with:
            node-version: "18.16.1"
        - name: Cache NPM dependencies
          uses: actions/cache@v2
          with:
            path: node_modules
            key: ${{ runner.OS }}-npm-cache
            restore-keys: |
              ${{ runner.OS }}-npm-cache
        - name: Install Dependencies
          run: npm install
        - name: Package
          run: npm run package